#intro-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#intro-header {
    padding: 20px;

    border-style: solid;
    border-color: #171717;
    border-radius: 15px;

    z-index: 2;
}

#intro-header, #intro-header-mobile h1 {
    background-color: #171717;
}

#intro-header h1, #intro-header-mobile h1 {
    margin: 0;

    letter-spacing: 0.2em;
    font-weight: normal;
}

#intro-header h1 {
    margin: 0;
    padding: 0;
    
    font-size: 5.5vw;
}

#intro-header-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;
}

#intro-header-mobile h1 {
    margin: 0;
    padding: 15px;

    font-size: 10vw;

    border-style: solid;
    border-color: #171717;
    border-radius: 10px;

    z-index: 10;
}

.intro-big-bg {
    width: 100vw;
    height: 100vh;

    position: absolute;

    background-image: url(../../image/svg/big_hypnosis.svg);
    background-repeat: no-repeat;
    overflow: hidden;

    z-index: 1;
    background-position: -150vw -470vh;

    animation: big-circular-move 5s linear infinite;
}

.intro-small-bg {
    height: 100%;
    width: 100%;
    position: absolute;

    background-image: url(../../image/svg/small_hypnosis.svg);
    background-repeat: no-repeat;
    overflow: hidden;

    z-index: 0;
    background-position: -100vw -100vh;

    animation: small-circular-move 5s linear infinite;
}