@media (orientation: portrait) {
    .show-on-landscape {
        display: none !important;
        visibility: hidden !important;
    }

    .font-3 {
        font-size: 3vh;
    }

    .font-5 {
        font-size: 5vh;
    }

    .font-8 {
        font-size: 8vh;
    }
}

@media (orientation: landscape) {
    .show-on-portrait {
        display: none !important;
        visibility: hidden !important;
    }
}